.main_container{
    margin-top:51px;
}
.form-center {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.navbar-line-height-fix{
    line-height: 20px !important;
}
.navbar-user-info{
    color: #777;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.js_var{
	display:none;
}